.idea/workspace.xml
.fuse*
bin/
pkg/linux_amd64/
src/api-srv/api-srv
src/cinema-srv/cinema-srv
src/cms-srv/cms-srv
src/comment-srv/comment-srv
src/film-srv/film-srv
src/order-srv/order-srv
src/place-srv/place-srv
src/user-srv/user-srv

